<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="2"/>
        <param name="file" value="target/logfile_test.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>
    <category name="MainClassTest">
        <priority value="all"/>
        <appender-ref ref="fileAppender"/>
    </category>
</configuration>

        <!--<?xml version="1.0" encoding="UTF-8"?>
        <Configuration status="WARN">
            <Appenders>
                <Console name="Console" target="SYSTEM_OUT">
                    <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                </Console>
            </Appenders>
            <Loggers>
                <Root level="debug">
                    <AppenderRef ref="Console"/>
                </Root>
            </Loggers>
        </Configuration>-->